@model List<ApiMovieListViewModel>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Film Adı</th>
            <th>Puanı</th>
            <th>Fragmanı</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.rank</th>
                <td>@item.title</td>
                <td>@item.rating</td>
                <td><a href="@item.trailer" class="btn btn-success">Filmi aç</a></td>
            </tr>
        }
    </table>
</div>
